<div class="hidden md:flex flex-col w-64 bg-gray-800">
    <div class="flex items-center justify-center h-16 bg-gray-900">
        <span class="text-white font-bold uppercase">Dashboards Demo</span>
    </div>

    <div class="flex flex-col flex-1 overflow-y-auto">
        <nav class="flex-1 px-2 py-4 bg-gray-800 space-y-2">
            {% if request.auth_token %}
                <a href="{% url 'workspaces' %}" class="flex items-center px-4 py-2 text-gray-100 hover:bg-gray-700">
                    Workspaces
                </a>

                <a href="{% url 'signout' %}" class="flex items-center px-4 py-2 text-gray-100 hover:bg-gray-700">
                    Sign out
                </a>
            {% endif %}
        </nav>
    </div>
</div>